# ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
BOT_TOKEN = "2060374369:AAGwP2e21-F7_GKoIlAF_7WImatFrH9sH8E"
GDRIVE_FOLDER_ID = "0ACO2WIikNeAiUk9PVA"
OWNER_ID = 2020767854
DOWNLOAD_DIR = "/home/slam/mirror-bot/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = -1
IS_TEAM_DRIVE = "True"
TELEGRAM_API = 8297915
TELEGRAM_HASH = "89d2fd637a1a5622b9ea6d8fa1f8f7f6"
HEROKU_API_KEY = "6d9b6932-5559-4d08-99fd-ddcf5b130a33"
HEROKU_APP_NAME = "leechandmirrorbot"
# Optional config
AUTHORIZED_CHATS = "-1001532573795"
USE_SERVICE_ACCOUNTS = ""
INDEX_URL = "https://mtleech.jokermallunni.workers.dev/0:/"
UPTOBOX_TOKEN = ""
MEGA_KEY = "gdgXBCLK"
MEGA_USERNAME = "jokermallunni@gmail.com"
MEGA_PASSWORD = "jokermallu"  
BLOCK_MEGA_LINKS = ""
STOP_DUPLICATE_MIRROR = "True"
SHORTENER = ""
SHORTENER_API = ""
IMAGE_URL = "https://telegra.ph/file/09cddb14c45b63bda2d47.png"
# Change ENABLE_FILESIZE_LIMIT = True if you want to use MAX_TORRENT_SIZE
ENABLE_FILESIZE_LIMIT = false
MAX_TORRENT_SIZE = 15
# Add more buttons (two buttons are already added of file link and index link, you can add extra buttons too, these are optional)
# If you don't know what are below entries, simply leave them, Don't fill anything in them.
BUTTON_THREE_NAME = ""
BUTTON_THREE_URL = ""
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
